/* Cut off margin on mobiles */
@media (max-width: 767px) {
    .container {
      margin-left: 10px;
	  margin-right: 10px;
	  margin-bottom: auto;
	  margin-top: auto;
    }
}

/* Color styling */
h1 {
	color: blue;
}

p {
	color: royalblue;
}

.form-control:focus {
/* 	border-color: ; */
/* 	box-shadow: inset #AE1E00; */
}

.pagination > li > a {
	color: dodgerblue;
}

.pagination > li > a:hover {
	color: blue;
}
